$images-dir : "../images/";
* {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type:none;
}

a {
  text-decoration: none;
}

section, footer, .clear-fix {
  clear: both;
  &:after {
    content: "";
    clear:both;
    display: block;
  }
}
.section-wrapper, .content-wrapper {
  display: block;
  margin: 0 auto;
}
.section-wrapper {
  max-width: 1170px;
}
.content-wrapper {
  max-width: fit-content;
}
