$images-dir : "../images/";
* {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type:none;
}

a {
  text-decoration: none;
}

section, footer {
  clear: both;
  ::after {
    content: "";
    clear:both;
    display: block;
  }
}
.wrapper {
  display: block;
  max-width:1170px;
  margin: 0 auto;
}
