* {
  border: 1px solid grey;
}
.wrapper {
  max-width:1170px;
  margin: 0 auto;
}
.grid-12, .banners {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.banners {
  text-align: center;
  grid-template-rows: repeat(2, 210px);
}

div.banners div#main-banner-product {
  grid-column: span 6;
  grid-row: 1 / span 2;
}
div.banners div.upper-banners-product {
  grid-column: span 3;
}

div.banners div#bottom-banner-product {
  grid-column: span 6;
}