* {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  clear: both;
}

.wrapper {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}

/************** header *************/
#page-header {
  background-color: #c00a27;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#page-header img.logo, #page-header li, #page-header h4, #page-header img.scooter, #page-header #call-number, #page-header #order-cart {
  float: left;
}

#page-header .wrapper {
  min-height: 136px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 32px;
  padding-bottom: 49px;
  border-bottom: 1px solid #cb334b;
}

#page-header .wrapper img.logo {
  padding: 15px 27px 7px 0;
}

#page-header .wrapper nav ul {
  width: 100%;
}

#page-header .wrapper nav ul li {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 28px 23px;
}

#page-header .wrapper nav ul li .under-line {
  background: #ffae00;
  height: 2px;
  width: 42px;
  margin: 0 auto;
  margin-top: 8px;
}

#page-header .wrapper #call-number {
  padding: 8px 27px;
}

#page-header .wrapper #call-number div img, #page-header .wrapper #call-number div p {
  float: right;
}

#page-header .wrapper #call-number div p {
  color: #ffae00;
  font-size: 14px;
}

#page-header .wrapper #call-number div p span {
  float: none;
  color: white;
}

#page-header .wrapper #call-number div img {
  padding: 10px 3px 0 5px;
  float: right;
}

#page-header .wrapper #call-number p#number {
  color: white;
  font-family: "open sans extrabold";
  font-size: 28px;
  font-weight: bolder;
  clear: both;
}

#page-header #order-cart {
  background-color: #8ca93e;
  border-radius: 40px;
  height: 68px;
  width: 225px;
}

#page-header #order-cart > img {
  display: block;
  width: 133px;
  margin: 0 auto;
}

#page-header #scooter-order {
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 16px;
}

#page-header #scooter-order h4 {
  font-size: 14px;
  font-family: "open sans extrabold";
  color: white;
  padding-left: 5px;
  padding-bottom: 10px;
}

/****************** END header *************/
/************ food menu *******************/
nav#food-menu {
  width: 100%;
  height: 100px;
  background-color: #c00a27;
}

nav#food-menu .wrapper {
  height: 100%;
  padding: 20px 0;
}

nav#food-menu li {
  float: left;
  padding: 1% 0;
}

nav#food-menu li:first-of-type {
  padding-left: 0;
}

nav#food-menu li:last-of-type {
  padding-right: 0;
}

nav#food-menu li:last-of-type a {
  width: 93px;
}

nav#food-menu li:last-of-type label {
  padding-right: 0;
}

nav#food-menu li a {
  display: table-cell;
  height: 45px;
  width: 150px;
  vertical-align: middle;
}

nav#food-menu li a img, nav#food-menu li a label {
  vertical-align: middle;
}

nav#food-menu li a label {
  padding: 0 20px;
  color: #ffc0ca;
}

/************* END food menu **************/
/************* Slider *********************/
.slider {
  float: none;
  width: 100%;
  height: 645px;
  background-color: #c00a27;
}

/************* END Slider ******************/
/************* banners *********************/
.banners {
  height: 536px;
  padding: 60px 0 34px 0;
}

.banners #main-banner-product,
.banners #upper-left-banner-product,
.banners #upper-right-banner-product,
.banners #bottom-banner-product {
  float: left;
}

.banners #main-banner-product {
  width: 570px;
  height: 442px;
  margin-right: 15px;
}

.banners #upper-left-banner-product,
.banners #upper-right-banner-product {
  width: 270px;
  height: 210px;
  margin-left: 15px;
  margin-bottom: 11px;
}

.banners #upper-left-banner-product {
  margin-right: 15px;
}

.banners #bottom-banner-product {
  width: 570px;
  height: 210px;
  margin-top: 11px;
  margin-left: 15px;
}

/**************END banners ***************/
/************** Products tabs section ************/
section#products-tabs {
  height: 855px;
  padding: 36px 0;
  /*********** tabs header **********************/
  /************* end of tabs header *********/
  /*********** product tabs ************/
}

section#products-tabs .wrapper {
  height: 100%;
  text-align: center;
}

section#products-tabs header {
  height: 50px;
  margin-bottom: 34px;
  border-bottom: 1px solid #e9e9e9;
}

section#products-tabs header > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

section#products-tabs header > div a {
  float: left;
  font-weight: 100%;
  font-size: 26px;
  color: #9b959b;
  line-height: 34px;
  padding: 0 30px;
}

section#products-tabs header > div .selected-tab {
  color: black;
  font-weight: bold;
}

section#products-tabs header > div .selected-tab div {
  height: 15px;
  width: 60px;
  border-bottom: 3px solid #f0002f;
  margin: 0 auto;
}

section#products-tabs .product-tab {
  border: 1px solid grey;
  float: left;
  width: 360px;
  height: 697px;
  margin: 0 18px;
}

section#products-tabs .product-tabfirst-of-type {
  margin-left: 0;
}

section#products-tabs .product-tab:last-of-type {
  margin-right: 0;
}

/*********** end of product tabs section *****/
/********** Deal of the day **********/
#deal-of-the-day {
  height: 468px;
  background-image: url("../images/dealOfTheDay-base.jpg");
}

/********** END deal of the day ******/
/********** great-with section ***************/
section#great-with {
  height: 712px;
  padding-top: 0;
  padding-bottom: 36px;
}

section#great-with .wrapper {
  height: 100%;
  text-align: center;
  /*********** great-with header ***********/
  /********** END great-with header *****/
}

section#great-with .wrapper header {
  height: 50px;
  margin-top: 73px;
  margin-bottom: 73px;
  border-bottom: 1px solid #e9e9e9;
}

section#great-with .wrapper header > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

section#great-with .wrapper header > div h3 {
  float: left;
  font-weight: 100%;
  font-size: 26px;
  color: #9b959b;
  line-height: 34px;
  padding: 0 30px;
}

section#great-with .wrapper header > div .selected-tab {
  color: black;
  font-weight: bold;
}

section#great-with .wrapper header > div .selected-tab div {
  height: 15px;
  width: 60px;
  border-bottom: 3px solid #f0002f;
  margin: 0 auto;
}

section#great-with .wrapper #great-with-products {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

section#great-with .wrapper #great-with-products .great-with-product {
  float: left;
  width: 260px;
  margin: 0 20px;
  border: 1px solid grey;
}

section#great-with .wrapper #great-with-products .great-with-product:first-of-type {
  margin-left: 0;
}

section#great-with .wrapper #great-with-products .great-with-product:last-of-type {
  margin-right: 0;
}

/********** END great-with section ***/
.insta-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.insta-picture {
  height: 320px;
  width: 320px;
}
/*# sourceMappingURL=global.css.map */