.product-pick-size-block, .great-with-pick-size-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.product-pick-size-block:after, .great-with-pick-size-block:after {
  content: none;
}

.product-pick-size-block h3, .great-with-pick-size-block h3 {
  margin-top: 21px;
  margin-bottom: 36px;
}

.product-pick-size-block > p, .great-with-pick-size-block > p {
  font-size: 14px;
  font-style: italic;
  line-height: 23px;
  margin-bottom: 35px;
}

.product-pick-size-block .pick-size, .great-with-pick-size-block .pick-size {
  height: 22px;
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
}

.product-pick-size-block .pick-size div, .great-with-pick-size-block .pick-size div {
  float: left;
  width: 80px;
  height: 11px;
  border-bottom: 1px solid #e9e9e9;
}

.product-pick-size-block .pick-size h4, .great-with-pick-size-block .pick-size h4 {
  float: left;
  margin: 0 10px;
}

.product-pick-size-block .size-price, .great-with-pick-size-block .size-price {
  clear: both;
  margin: 0 auto;
}

.product-pick-size-block .size-price:after, .great-with-pick-size-block .size-price:after {
  content: "";
  clear: both;
  display: block;
}

.product-pick-size-block .size-price .size, .product-pick-size-block .size-price .price, .great-with-pick-size-block .size-price .size, .great-with-pick-size-block .size-price .price {
  float: left;
}

.product-pick-size-block .size-price .size, .great-with-pick-size-block .size-price .size {
  border: 3px solid #f9f2de;
  border-radius: 100%;
  font-size: 12px;
  line-height: 11px;
  width: 42px;
  height: 42px;
  padding-top: 7px;
  margin-right: 10px;
}

.product-pick-size-block .size-price .size span, .great-with-pick-size-block .size-price .size span {
  font-weight: bold;
}

.product-pick-size-block .size-price .selected-size, .great-with-pick-size-block .size-price .selected-size {
  background-color: #ffcd00;
  border-color: #ffcd00;
}

.product-pick-size-block .size-price .price, .great-with-pick-size-block .size-price .price {
  padding-top: 10px;
  margin-right: 30px;
  font-size: 17px;
}

.product-pick-size-block .size-price .price:last-of-type, .great-with-pick-size-block .size-price .price:last-of-type {
  margin-right: 0;
}

.product-pick-size-block .size-price .price span, .great-with-pick-size-block .size-price .price span {
  vertical-align: super;
  font-size: 12px;
  line-height: 10px;
}

.product-pick-size-block {
  width: 330px;
}

.product-pick-size-block h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.product-pick-size-block .pick-size {
  width: 303.15px;
}

.product-pick-size-block .pick-size div {
  width: 120px;
  border-bottom: 1px solid #c8c6bc;
}

.product-pick-size-block .size-price {
  width: 235px;
}

.product-pick-size-block .size {
  font-size: 13px;
  background-color: white;
  width: 44px;
  height: 44px;
}

.product-pick-size-block .price {
  font-size: 20px;
}

.product-pick-size-block button {
  background-color: #f0002f;
  color: white;
  width: 247px;
  height: 57px;
  border-radius: 40px;
  border: 0;
  margin-top: 35px;
  margin-bottom: 27px;
}

.product-pick-size-block button .content-wrapper {
  max-width: 111.3px;
}

.product-pick-size-block button img, .product-pick-size-block button p {
  float: left;
}

.product-pick-size-block button img {
  padding-right: 15px;
}

.product-pick-size-block button p {
  font-size: 15px;
  line-height: 10px;
  height: 20px;
  padding: 5px 0;
}

.great-with-pick-size-block .pick-size {
  width: 243.15px;
}

.great-with-pick-size-block .size-price {
  width: 216px;
}

.great-with-pick-size-block .one-size-price {
  width: 93px;
}

/************** header *************/
#page-header {
  background-color: #c00a27;
}

#page-header img.logo, #page-header li, #page-header h4, #page-header img.scooter, #page-header #call-number, #page-header #order-cart {
  float: left;
}

#page-header .section-wrapper {
  min-height: 136px;
  padding-top: 32px;
  padding-bottom: 49px;
  border-bottom: 1px solid #cb334b;
}

#page-header .section-wrapper img.logo {
  padding: 15px 27px 7px 0;
}

#page-header .section-wrapper .content-wrapper {
  float: left;
  max-width: 942px;
}

#page-header .section-wrapper nav#page-menu {
  float: left;
}

#page-header .section-wrapper nav#page-menu ul {
  width: 100%;
}

#page-header .section-wrapper nav#page-menu ul li {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 28px 23px;
}

#page-header .section-wrapper nav#page-menu ul li .under-line {
  background: #ffae00;
  height: 2px;
  width: 42px;
  margin: 0 auto;
  margin-top: 8px;
}

#page-header .section-wrapper #call-number {
  padding: 8px 27px;
}

#page-header .section-wrapper #call-number div img, #page-header .section-wrapper #call-number div p {
  float: right;
}

#page-header .section-wrapper #call-number div p {
  color: #ffae00;
  font-size: 14px;
}

#page-header .section-wrapper #call-number div p span {
  float: none;
  color: white;
}

#page-header .section-wrapper #call-number div img {
  padding: 10px 3px 0 5px;
  float: right;
}

#page-header .section-wrapper #call-number p#number {
  color: white;
  font-family: "open sans extrabold";
  font-size: 28px;
  font-weight: bolder;
  clear: both;
}

#page-header #order-cart {
  background-color: #8ca93e;
  border-radius: 40px;
  height: 68px;
  width: 225px;
}

#page-header #order-cart > img {
  display: block;
  width: 133px;
  margin: 0 auto;
}

#page-header #scooter-order {
  height: 30px;
  width: 178.667px;
  margin: 0 auto;
  padding-top: 16px;
}

#page-header #scooter-order h4 {
  font-size: 14px;
  font-family: "open sans extrabold";
  color: white;
  padding-left: 4px;
  padding-bottom: 10px;
}

/****************** END header *************/
/************ food menu *******************/
nav#food-menu {
  width: 100%;
  background-color: #c00a27;
}

nav#food-menu .section-wrapper {
  padding: 20px 0;
}

nav#food-menu ul.content-wrapper {
  max-width: 1143px;
}

nav#food-menu ul.content-wrapper li {
  float: left;
  padding: 1% 0;
}

nav#food-menu ul.content-wrapper li:first-of-type {
  padding-left: 0;
}

nav#food-menu ul.content-wrapper li:last-of-type {
  padding-right: 0;
}

nav#food-menu ul.content-wrapper li:last-of-type a {
  width: 93px;
}

nav#food-menu ul.content-wrapper li:last-of-type label {
  padding-right: 0;
}

nav#food-menu ul.content-wrapper li a {
  display: table-cell;
  height: 45px;
  width: 150px;
  vertical-align: middle;
}

nav#food-menu ul.content-wrapper li a > div {
  display: inline;
}

nav#food-menu ul.content-wrapper li a img, nav#food-menu ul.content-wrapper li a label {
  vertical-align: middle;
}

nav#food-menu ul.content-wrapper li a label {
  padding: 0 20px;
  color: #ffc0ca;
}

/************* END food menu **************/
/************* Slider *********************/
#slider {
  width: 100%;
  background-color: #c00a27;
}

#slider .content-wrapper {
  max-width: 563px;
}

#slider .content-wrapper img {
  padding: 146px 0 100px;
}

#slider .content-wrapper .slider-dots {
  height: 42px;
  width: 175px;
  padding-bottom: 32px;
}

#slider .content-wrapper .slider-dots .active-slider, #slider .content-wrapper .slider-dots .slider-dot {
  float: left;
}

#slider .content-wrapper .slider-dots .active-slider {
  width: 35px;
  height: 10px;
  background-color: #f0002f;
  border-radius: 25px;
  margin-right: 18px;
}

#slider .content-wrapper .slider-dots .slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
  margin-right: 18px;
}

#slider .content-wrapper .slider-dots .slider-dot:hover {
  cursor: pointer;
}

#slider .content-wrapper .slider-dots .slider-dot:last-of-type {
  margin-right: 0;
}

#slider .content-wrapper .slider-dots .slider-dot .content-wrapper {
  max-width: 175px;
}

/************* END Slider ******************/
/************* banners *********************/
.banners {
  height: 536px;
  padding: 60px 0 34px 0;
}

.banners #main-banner-product,
.banners #upper-left-banner-product,
.banners #upper-right-banner-product,
.banners #bottom-banner-product {
  float: left;
  position: relative;
}

.banners #main-banner-product h1, .banners #main-banner-product h2, .banners #main-banner-product h3, .banners #main-banner-product h4, .banners #main-banner-product h5, .banners #main-banner-product .badge, .banners #main-banner-product .subscript, .banners #main-banner-product p,
.banners #upper-left-banner-product h1,
.banners #upper-left-banner-product h2,
.banners #upper-left-banner-product h3,
.banners #upper-left-banner-product h4,
.banners #upper-left-banner-product h5,
.banners #upper-left-banner-product .badge,
.banners #upper-left-banner-product .subscript,
.banners #upper-left-banner-product p,
.banners #upper-right-banner-product h1,
.banners #upper-right-banner-product h2,
.banners #upper-right-banner-product h3,
.banners #upper-right-banner-product h4,
.banners #upper-right-banner-product h5,
.banners #upper-right-banner-product .badge,
.banners #upper-right-banner-product .subscript,
.banners #upper-right-banner-product p,
.banners #bottom-banner-product h1,
.banners #bottom-banner-product h2,
.banners #bottom-banner-product h3,
.banners #bottom-banner-product h4,
.banners #bottom-banner-product h5,
.banners #bottom-banner-product .badge,
.banners #bottom-banner-product .subscript,
.banners #bottom-banner-product p {
  position: absolute;
  color: white;
}

.banners #main-banner-product h1,
.banners #upper-left-banner-product h1,
.banners #upper-right-banner-product h1,
.banners #bottom-banner-product h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 80px;
  font-weight: bold;
}

.banners #main-banner-product h2,
.banners #upper-left-banner-product h2,
.banners #upper-right-banner-product h2,
.banners #bottom-banner-product h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 60px;
  font-weight: bold;
}

.banners #main-banner-product h3,
.banners #upper-left-banner-product h3,
.banners #upper-right-banner-product h3,
.banners #bottom-banner-product h3 {
  font-family: "Yanone Kaffeesatz extralight";
  font-size: 50px;
}

.banners #main-banner-product h4,
.banners #upper-left-banner-product h4,
.banners #upper-right-banner-product h4,
.banners #bottom-banner-product h4 {
  font-family: "Yanone Kaffeesatz extralight";
  font-size: 42px;
}

.banners #main-banner-product h5,
.banners #upper-left-banner-product h5,
.banners #upper-right-banner-product h5,
.banners #bottom-banner-product h5 {
  font-size: 36px;
}

.banners #main-banner-product .subscript,
.banners #upper-left-banner-product .subscript,
.banners #upper-right-banner-product .subscript,
.banners #bottom-banner-product .subscript {
  font-family: "Yanone Kaffeesatz";
  font-size: 14px;
}

.banners #main-banner-product {
  width: 570px;
  height: 442px;
  margin-right: 15px;
  color: white;
}

.banners #main-banner-product h1, .banners #main-banner-product h2, .banners #main-banner-product h3, .banners #main-banner-product h4, .banners #main-banner-product .badge, .banners #main-banner-product .subscript {
  left: 38px;
}

.banners #main-banner-product h1 {
  top: 53px;
}

.banners #main-banner-product h4 {
  top: 123px;
}

.banners #main-banner-product .badge {
  top: 178px;
  width: 137px;
  height: 43px;
  border-radius: 10px;
  background-color: #f0002f;
}

.banners #main-banner-product .badge .badge-text {
  position: static;
  font-family: "Yanone Kaffeesatz light";
  font-size: 18px;
  padding-top: 13px;
}

.banners #main-banner-product .badge .content-wrapper {
  max-width: 68px;
}

.banners #main-banner-product .subscript {
  top: 404px;
}

.banners #upper-left-banner-product,
.banners #upper-right-banner-product {
  width: 270px;
  height: 210px;
  margin-left: 15px;
  margin-bottom: 11px;
}

.banners #upper-left-banner-product {
  margin-right: 15px;
}

.banners #upper-left-banner-product h3, .banners #upper-left-banner-product h2, .banners #upper-left-banner-product p {
  width: 105px;
  left: 140px;
  text-align: center;
  color: white;
}

.banners #upper-left-banner-product h3 {
  top: 32px;
}

.banners #upper-left-banner-product h2 {
  top: 76px;
}

.banners #upper-left-banner-product p, .banners #upper-left-banner-product span {
  top: 136px;
  font-family: "Roboto Condensed";
  font-size: 16px;
}

.banners #upper-left-banner-product p span, .banners #upper-left-banner-product span span {
  text-decoration: underline;
}

.banners #upper-right-banner-product h3, .banners #upper-right-banner-product h2, .banners #upper-right-banner-product .subscript {
  width: 107px;
  left: 138px;
  text-align: center;
}

.banners #upper-right-banner-product h3 {
  top: 33px;
}

.banners #upper-right-banner-product h2 {
  top: 76px;
}

.banners #upper-right-banner-product .subscript {
  top: 144px;
}

.banners #bottom-banner-product {
  width: 570px;
  height: 210px;
  margin-top: 11px;
  margin-left: 15px;
}

.banners #bottom-banner-product h2 {
  top: 61px;
  left: 245px;
  font-family: "Oswald";
  font-weight: bold;
}

.banners #bottom-banner-product h5 {
  top: 66px;
  left: 146px;
  font-family: "Oswald light";
  color: #fdba3e;
}

/**************END banners ***************/
/************** Products tabs section ************/
section#products-tabs {
  height: 916px;
  padding: 36px 0 80px;
  /*********** tabs header **********************/
  /************* end of tabs header *********/
  /*********** product tabs ************/
}

section#products-tabs .section-wrapper {
  text-align: center;
}

section#products-tabs .section-wrapper > .content-wrapper {
  max-width: 1152px;
}

section#products-tabs header {
  height: 50px;
  margin-bottom: 34px;
  border-bottom: 1px solid #e9e9e9;
}

section#products-tabs header > div {
  width: 478.717px;
  margin: 0 auto;
}

section#products-tabs header > div a {
  float: left;
  font-weight: 100%;
  font-size: 26px;
  color: #9b959b;
  line-height: 34px;
  padding: 0 30px;
}

section#products-tabs header > div .selected-tab-header {
  color: black;
  font-weight: bold;
}

section#products-tabs header > div .selected-tab-header div {
  height: 15px;
  width: 60px;
  border-bottom: 3px solid #f0002f;
  margin: 0 auto;
}

section#products-tabs .product-tab {
  float: left;
  width: 360px;
  margin: 0 18px;
}

section#products-tabs .product-tab:first-of-type {
  margin-left: 0;
}

section#products-tabs .product-tab:last-of-type {
  margin-right: 0;
}

section#products-tabs .product-tab .product-pick-size-block {
  margin-top: 27px;
}

section#products-tabs .product-tab .product-pick-size-block .pick-size div {
  width: 110px;
}

section#products-tabs .selected-tab {
  border: solid 4px #e9e9e9;
}

/*********** end of product tabs section *****/
/********** Deal of the day **********/
#deal-of-the-day {
  height: 468px;
  background-image: url("../images/dealOfTheDay-base.jpg");
  color: white;
  padding-top: 100px;
}

#deal-of-the-day .section-wrapper .content-wrapper {
  max-width: 370.767px;
}

#deal-of-the-day .strike-through {
  width: 371px;
  margin-bottom: 14px;
  font-family: "Yanone Kaffeesatz light";
}

#deal-of-the-day .strike-through div, #deal-of-the-day .strike-through h4 {
  float: left;
}

#deal-of-the-day .strike-through div {
  width: 100px;
  height: 11px;
  border-bottom: 1px solid #e9e9e9;
}

#deal-of-the-day .strike-through h4 {
  margin: 0 8px;
}

#deal-of-the-day h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 73px;
  font-weight: bold;
  margin-bottom: 30px;
}

#deal-of-the-day .content-wrapper .content-wrapper {
  position: relative;
  max-width: 213px;
}

#deal-of-the-day .content-wrapper .content-wrapper .price {
  font-family: "Yanone Kaffeesatz";
  position: relative;
}

#deal-of-the-day .content-wrapper .content-wrapper .price p {
  float: left;
  position: absolute;
  top: 0;
}

#deal-of-the-day .content-wrapper .content-wrapper .price .superscript {
  vertical-align: super;
}

#deal-of-the-day .content-wrapper .content-wrapper .price .dollar-sign {
  font-family: "Yanone Kaffeesatz light";
  font-size: 52px;
  left: 0;
  top: -2px;
}

#deal-of-the-day .content-wrapper .content-wrapper .price .dollar-amount {
  font-family: "Yanone Kaffeesatz";
  font-size: 107px;
  font-weight: bold;
  left: 19px;
  top: -21px;
}

#deal-of-the-day .content-wrapper .content-wrapper .price .cents {
  font-family: "Yanone Kaffeesatz";
  font-size: 52px;
  font-weight: bold;
  left: 60px;
  top: -6px;
}

#deal-of-the-day .content-wrapper .content-wrapper .price .price-unit {
  font-family: "Yanone Kaffeesatz light";
  font-size: 17px;
  color: #c2aa7e;
  top: 47px;
  left: 69px;
}

#deal-of-the-day .content-wrapper .content-wrapper .food-list {
  position: absolute;
  top: 0;
  left: 121px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #c2aa7e;
}

#deal-of-the-day .content-wrapper .content-wrapper .food-list h4 {
  font-family: "Yanone Kaffeesatz light";
  font-size: 20px;
  line-height: 27px;
}

#deal-of-the-day .content-wrapper .content-wrapper button {
  position: relative;
  background-color: #f0002f;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  width: 213px;
  height: 54px;
  margin-top: 47px;
  top: 76px;
}

/********** END deal of the day ******/
/********** great-with section ***************/
section#great-with {
  height: 660px;
  padding-top: 0;
  padding-bottom: 140px;
}

section#great-with .section-wrapper {
  text-align: center;
  /*********** great-with header ***********/
  /********** END great-with header *****/
}

section#great-with .section-wrapper header {
  height: 50px;
  margin-top: 73px;
  margin-bottom: 73px;
  border-bottom: 1px solid #e9e9e9;
}

section#great-with .section-wrapper header > div {
  width: 266px;
  margin: 0 auto;
}

section#great-with .section-wrapper header > div h3 {
  float: left;
  font-weight: 100%;
  font-size: 26px;
  color: #9b959b;
  line-height: 34px;
  padding: 0 30px;
}

section#great-with .section-wrapper header > div .selected-tab {
  color: black;
  font-weight: bold;
}

section#great-with .section-wrapper header > div .selected-tab div {
  height: 15px;
  width: 60px;
  border-bottom: 3px solid #f0002f;
  margin: 0 auto;
}

section#great-with .section-wrapper #great-with-products {
  width: 1160px;
  margin: 0 auto;
}

section#great-with .section-wrapper #great-with-products .great-with-product {
  float: left;
  width: 260px;
  margin: 0 20px;
}

section#great-with .section-wrapper #great-with-products .great-with-product:first-of-type {
  margin-left: 0;
}

section#great-with .section-wrapper #great-with-products .great-with-product:last-of-type {
  margin-right: 0;
}

/********** END great-with section ***/
/********** product-slider ***********/
section#product-slider {
  height: 486px;
  width: 100%;
  padding: 80px 0 70px;
  background-color: #f4f2eb;
}

section#product-slider .section-wrapper .product-pick-size-block {
  margin-left: 70px;
}

section#product-slider .section-wrapper .product-pick-size-block .pick-size {
  width: 323.15px;
}

section#product-slider .section-wrapper .product-pick-size-block .size-price {
  width: 235px;
}

/**********END product-slider ********/
/************ features ***************/
section#features .feature {
  float: left;
  width: 198px;
  text-align: center;
  margin: 124px 48px 95px;
}

section#features .feature:first-of-type {
  margin-left: 40px;
}

section#features .feature:last-of-type {
  margin-right: 40px;
}

section#features .feature img {
  margin-bottom: 43px;
}

section#features .feature h4 {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 21px;
  color: #2d2b2d;
}

section#features .feature p {
  font-size: 14px;
  line-height: 21px;
  color: #71706C;
}

/********** END features *************/
/********** insta-gallery ************/
.insta-gallery {
  background-color: #cccccc;
}

.insta-gallery .section-wrapper {
  max-width: 1920px;
}

.insta-gallery .section-wrapper img {
  float: left;
}

/********** END insta-gallery ********/
/********** footer *******************/
footer {
  background-color: #2c2c2c;
  padding-top: 90px;
}

footer #social-icons {
  width: 400px;
  margin: 0 auto 56px;
}

footer #social-icons .social-icon {
  width: 52px;
  height: 52px;
  border: solid 1px #818181;
  border-radius: 100%;
  float: left;
  padding-top: 15px;
  margin: 0 14px;
}

footer #social-icons .social-icon img {
  display: block;
  margin: auto auto;
}

footer .logo {
  width: 201px;
  display: block;
  margin: 0 auto 70px;
}

footer .contact-info {
  width: 888.75px;
  margin: 0 auto 20px;
}

footer .contact-info p {
  float: left;
  font-size: 14px;
  line-height: 21px;
  color: #dddddd;
  border-right: 2px solid #c00a27;
  padding: 0 25px;
}

footer .contact-info p:last-of-type {
  border: none;
}

footer p.copyright {
  width: 318px;
  margin: 0 auto 76px;
  font-size: 13px;
  line-height: 21px;
  color: #7f7f7f;
}

footer button {
  background-color: #f0002f;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 0;
  width: 230px;
  height: 60px;
  display: block;
  margin: 0 auto;
  color: white;
}

footer button .content-wrapper {
  max-width: 136px;
}

footer button img, footer button p {
  float: left;
}

footer button img {
  margin-right: 15px;
}

footer button p {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}

/********** END footer ***************/
/************ media queries **********/
@media screen and (max-width: 1920px) {
  .insta-gallery .section-wrapper {
    max-width: 960px;
  }
}

@media screen and (max-width: 1170px) {
  #page-header .section-wrapper {
    padding: 0 0 50px;
    min-height: 275px;
  }
  #page-header .section-wrapper img.logo {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
  }
  #page-header .section-wrapper > .content-wrapper {
    float: none;
  }
  #page-header .section-wrapper #page-menu {
    float: left;
  }
  nav#food-menu ul.content-wrapper {
    max-width: 1170px;
  }
  nav#food-menu ul.content-wrapper li {
    width: 12.5%;
  }
  nav#food-menu ul.content-wrapper li a {
    display: block;
    width: 60px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
  }
  nav#food-menu ul.content-wrapper li a > div {
    display: block;
    width: 47px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
  }
  nav#food-menu ul.content-wrapper li a > div img {
    display: block;
    margin: auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  nav#food-menu ul.content-wrapper li a label {
    padding: 0;
  }
  section.banners #main-banner-product {
    margin-left: calc(50% - 435px);
  }
  section.banners #upper-left-banner-product {
    margin-bottom: 22px;
  }
  section.banners #bottom-banner-product {
    margin-left: calc(50% - 285px);
  }
  section#products-tabs {
    height: 1468px;
    padding-bottom: 36px;
  }
  section#products-tabs .section-wrapper > .content-wrapper {
    max-width: 764px;
  }
  section#products-tabs .section-wrapper > .content-wrapper .product-tab {
    margin: 0;
  }
  section#products-tabs .section-wrapper > .content-wrapper .product-tab:nth-of-type(odd) {
    margin-right: 18px;
  }
  section#products-tabs .section-wrapper > .content-wrapper .product-tab:nth-of-type(even) {
    margin-left: 18px;
  }
  section#great-with {
    height: 1017px;
    padding-bottom: 73px;
  }
  section#great-with .section-wrapper #great-with-products {
    width: 560px;
  }
  section#great-with .section-wrapper #great-with-products .great-with-product {
    margin: 0 0 20px;
  }
  section#great-with .section-wrapper #great-with-products .great-with-product:nth-of-type(odd) {
    margin-right: 20px;
  }
  section#great-with .section-wrapper #great-with-products .great-with-product:nth-of-type(even) {
    margin-left: 20px;
  }
  section#features .section-wrapper {
    max-width: 580px;
  }
  section#features .section-wrapper .feature {
    height: 205px;
  }
  section#features .section-wrapper .feature:nth-of-type(1), section#features .section-wrapper .feature:nth-of-type(2) {
    margin-top: 95px;
    margin-bottom: 48px;
  }
  section#features .section-wrapper .feature:nth-of-type(3), section#features .section-wrapper .feature:nth-of-type(4) {
    margin-top: 48px;
    margin-bottom: 95px;
  }
  section#features .section-wrapper .feature:nth-of-type(odd) {
    margin-left: 40px;
    margin-right: 48px;
  }
  section#features .section-wrapper .feature:nth-of-type(even) {
    margin-left: 48px;
    margin-right: 40px;
  }
}
/*# sourceMappingURL=index.css.map */